# 4월 15일차 교육 
    - 데이터 분석

In [3]:
import pandas as pd

In [5]:
s = pd.Series([9631482,3448783,2632035,2466052],
                 index = ["서울","부산","인천","대구"])

s2 = pd.Series({'서울': 9631482, '부산': 3448783, '인천': 2632035, '대전': 1409158}, index=['부산', '서울', '인천', '대전'])

ds = s - s2
print(ds)

대구    NaN
대전    NaN
부산    0.0
서울    0.0
인천    0.0
dtype: float64

In [8]:
print(s2.values - s.values)

[-6182699  6182699        0 -1056894]

In [10]:
print(ds.notnull()) #데이터 타입도 변경됨

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [13]:
print(ds.notnull().sum()) #이렇게 하면 NULL 갯수 계산할 수 있음

3

In [15]:
print(ds[ds.notnull()])

부산    0.0
서울    0.0
인천    0.0
dtype: float64

In [16]:
rs = (s - s2) / s2 * 100

In [18]:
rs = rs[rs.notnull()]
print(rs)

부산    0.0
서울    0.0
인천    0.0
dtype: float64

In [19]:
rs['부산'] = 1.63
rs['대구'] = 1.41
del rs["서울"]
print(rs)

부산    1.63
인천    0.00
대구    1.41
dtype: float64

In [20]:
f1 = pd.Series([1200,3500,2100,9600] , index = ["사과","딸기", "키위", "메론"])
f1

사과    1200
딸기    3500
키위    2100
메론    9600
dtype: int64

In [22]:
f1[[0,3,1]]

C:\Users\MINJUN\AppData\Local\Temp\ipykernel_11396\2654018226.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  f1[[0,3,1]]

사과    1200
메론    9600
딸기    3500
dtype: int64

In [23]:
f1.iloc[[0,3,1]]

사과    1200
메론    9600
딸기    3500
dtype: int64

In [24]:
f1[["사과","메론","딸기"]]

사과    1200
메론    9600
딸기    3500
dtype: int64

In [26]:
f1[(1000 < f1) & (f1 < 5000)]

사과    1200
딸기    3500
키위    2100
dtype: int64

In [27]:
f = pd.Series([1200,None,2100,9600] , index = ["사과","딸기", "키위", "메론"])
f

사과    1200.0
딸기       NaN
키위    2100.0
메론    9600.0
dtype: float64

In [29]:
f.notnull()

사과     True
딸기    False
키위     True
메론     True
dtype: bool

In [31]:
f[f.notnull()]

사과    1200.0
키위    2100.0
메론    9600.0
dtype: float64

In [32]:
f["사과"] = 3000

In [33]:
f

사과    3000.0
딸기       NaN
키위    2100.0
메론    9600.0
dtype: float64

In [35]:
f["거봉"] = 7000

In [36]:
f

사과    3000.0
딸기       NaN
키위    2100.0
메론    9600.0
거봉    7000.0
dtype: float64

In [38]:
f.drop("거봉")

사과    3000.0
딸기       NaN
키위    2100.0
메론    9600.0
dtype: float64

In [40]:
f.drop('사과', inplace = True) #inplace 기존의 데이터에 저장하겠다는 말임

In [41]:
f

딸기       NaN
키위    2100.0
메론    9600.0
거봉    7000.0
dtype: float64