In [1]:
# Pivot Table

### pivot_table
형식) pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, margins_name='All')
- data: 분석할 데이터프레임 (메서드일 때는 필요하지 않음)
- values: 분석할 데이터프레임에서 분석할 열
- index: 행 인덱스로 들어갈 키 열 또는 키 열의 리스트
- columns: 열 인덱스로 들어갈 키 열 또는 키 열의 리스트
- aggfunc: 분석 메서드 지정
- fill_value: NaN 대체 값 설정
- margins: 오른쪽과 아래에 합계를 붙일지 여부 지정
- margins_name: 합계 열(행)의 이름 지정

In [3]:
import pandas as pd

In [4]:

df2 = pd.DataFrame({
    'key1' : ["A","A","B","B","A"],
    'key2' : ['one','two','one','two','one'],
    'data1' : [1,2,3,4,5],
    'data2' : [10,20,30,40,50]
})
df2

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [7]:
df2.pivot_table('data1','data2',"key2")

key2   one  two
data2
10     1.0  NaN
20     NaN  2.0
30     3.0  NaN
40     NaN  4.0
50     5.0  NaN

In [13]:
df2.pivot_table("data1","key1","key2",aggfunc = "sum", margins = True, margins_name = "합계")

key2  one  two  합계
key1
A       6    2   8
B       3    4   7
합계      9    6  15