# Pandas-Series 클래스

In [5]:
import pandas as pd
s = pd.Series([1,3,5,7,9])
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [7]:
print(s.index)

RangeIndex(start=0, stop=5, step=1)

In [9]:
print(s.values)

[1 3 5 7 9]

In [11]:
s = pd.Series([9904312,3448783,2890451,2466952],
                index =["서울","부산","인천","대구"])
print(s)

서울    9904312
부산    3448783
인천    2890451
대구    2466952
dtype: int64

In [13]:
print(s.index)

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [16]:
print(s.values)

[9904312 3448783 2890451 2466952]

In [18]:
s.name = "인구"
s.index.name ="도시"
print(s)

도시
서울    9904312
부산    3448783
인천    2890451
대구    2466952
Name: 인구, dtype: int64

In [21]:
s.rename_axis(None,inplace = True) #인덱스 이름 변경(초기화 시킴) or s.index.name = None

In [22]:
s.name = None #이름 초기화하기
s

서울    9904312
부산    3448783
인천    2890451
대구    2466952
dtype: int64

In [23]:
s = pd.Series([9904312,3448783,2890451,2466952],
                index =["서울","부산","인천","대구"])
s = s/ 1000000
print(s)

서울    9.904312
부산    3.448783
인천    2.890451
대구    2.466952
dtype: float64

In [24]:
print(s[1:3])

부산    3.448783
인천    2.890451
dtype: float64

In [25]:
print(s["부산":"대구"])

부산    3.448783
인천    2.890451
대구    2.466952
dtype: float64

In [26]:
s1 = pd.Series(range(3), index = ["a","b","c"])
print(s1.a)

0

In [27]:
print(s1["a"])

0

In [28]:
s["부산"]

np.float64(3.448783)

In [29]:
s.부산

np.float64(3.448783)

In [42]:
s = pd.Series([9904312,3448783,2890451,2466952],
                index =["서울","부산","인천","대구"])
print("대전" in s)

In [32]:
for key, value in s.items():
    print("%s, : %d" %(key,value))

서울, : 9904312
부산, : 3448783
인천, : 2890451
대구, : 2466952

In [35]:
s = pd.Series({"국어" :  90 , "영어": 70, "수학" : 80})
print(s)

국어    90
영어    70
수학    80
dtype: int64

In [37]:
print(s.values)

[90 70 80]

In [38]:
s2 = pd.Series({"서울": 9631482 , "부산" : 3448783 , "인천" : 2632035, "대전": 1409158})
print(s2)

서울    9631482
부산    3448783
인천    2632035
대전    1409158
dtype: int64